@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model ease_admin_cloud.Areas.Catalogs.Models.cat_area

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <section class="panel">
                <header class="panel-heading">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catálogos Empresas / </span>Crear
                        Área</h4>
                </header>
                <div class="panel-body">
                    <label class="col-md-3 control-label" asp-for="area_desc"></label>
                    <div class="col-md-6">
                        <div class="input-group input-group-icon">
                            <input type="text" class="form-control" placeholder="Área" asp-for="area_desc">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa-solid fa-briefcase"></i></span>
                            </span>
                        </div>
                       <span asp-validation-for="area_desc" class="text-danger"></span>
                    </div>
                </div>
                <footer class="panel-footer">
                    <input type="submit" value="Crear" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-primary">Regresar</a>
                </footer>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
